<!DOCTYPE html>
<html>

<head>
  <title>Fournil</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="favicon.png" />
  <link href="css/fonts.css" rel="stylesheet" />
  <link href="css/bootstrap.min.css" rel="stylesheet" />
  <link href="css/open-iconic-bootstrap.min.css" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet" />
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/utils.js"></script>
  <script src="js/main.js"></script>
  <?php echo "<script>var datas = $strJsonFileContents; </script>"?>
</head>

<body>
  <div class="content" id="glouton_app">
    <nav class="navbar sticky-top navbar-dark bg-dark">
      <a class="navbar-brand" href="?logout=1" title="Se déconnecter">
        <img src="favicon.png" width="50" height="30" class="d-inline-block align-top" alt="" />
        <span class="h3 ml-2">Fournil</span>
      </a>
      <div class="d-print-none">
        <a target="_blank" href="stats.php" class="btn btn-sm btn-outline-light ml-1" role="button"
          title="Statistiques des fournées">
          <span class="oi oi-graph"></span>
          <span class="ml-2">Stats</span>
        </a>
        <a target="_blank" href="historique.php" class="btn btn-sm btn-outline-info ml-1" role="button"
          title="Historique des fournées">
          <span class="oi oi-header" aria-hidden="true"></span>
          <span class="ml-1">Historique</span>
        </a>
        <button id="btn-send-json" class="btn btn-sm btn-outline-warning ml-1"
          title="Sauvegarder les modifications sur le serveur">
          <span id="send-json-icon" class="oi oi-cloud-upload" aria-hidden="true"></span>
          <span id="send-json-label" class="ml-1">Sauvegarder</span>
        </button>
      </div>
    </nav>
    <ul class="nav nav-tabs justify-content-end d-print-none">
      <li id="fournee-link" class="nav-item">
        <a class="nav-link btn-outline-danger" :class="testFourneeEnCours() ? 'active' : ''" data-toggle="tab"
          :href="'#fournee-'+fourneeEnCours.date" role="tab" @click="clickFournee($event)"
          :aria-controls="'#fournee-'+fourneeEnCours.date" aria-selected="false" accesskey="f" ref="tabFourneEnCours">
          <span class="oi" :class="testFourneeEnCours() ? 'oi-task' : 'oi-fire'" aria-hidden="true"></span>
          <span class="ml-1">{{ testFourneeEnCours() ? 'Fournée en cours' : 'Nouvelle fournée'}}</span>
        </a>
      </li>
      <li id="gloutons-link" class="nav-item">
        <a class="nav-link btn-outline-info" :class="testFourneeEnCours() ? '' : 'active'" data-toggle="tab"
          href="#gloutons" role="tab" aria-controls="gloutons" aria-selected="true" accesskey="g"
          ref="tabGloutonsActifs">
          <span class="oi oi-people" aria-hidden="true"></span>
          <span class="ml-1" v-once>Goutons actifs</span>
        </a>
      </li>
      <li id="gloutons_en_attente-link" class="nav-item">
        <a class="nav-link btn-outline-warning" data-toggle="tab" href="#gloutons_en_attente" role="tab"
          aria-controls="gloutons_en_attente" accesskey="a">
          <span class="oi oi-clock" aria-hidden="true"></span>
          <span class="ml-1">Gloutons suspendus</span>
        </a>
      </li>
      <li id="prevision-link" class="nav-item">
        <a class="nav-link btn-outline-primary" data-toggle="tab" href="#prevision" role="tab"
          @click="calculPrevisions()" aria-controls="prevision" aria-selected="true" accesskey="v" ref="tabPrevision">
          <span class="oi oi-calculator" aria-hidden="true"></span>
          <span class="ml-1">Prévisions</span>
        </a>
      </li>
      <li id="tirelire-link" class="nav-item">
        <a class="nav-link btn-outline-success" data-toggle="tab" href="#tirelire" role="tab" aria-controls="tirelire"
          aria-selected="true" accesskey="t" ref="tabTirelire">
          <span class="oi oi-euro" aria-hidden="true"></span>
          <span class="ml-1">Tirelire</span>
        </a>
      </li>
      <li id="params-link" class="nav-item">
        <a class="nav-link btn-outline-dark" data-toggle="tab" href="#params" role="tab" aria-controls="params"
          aria-selected="true" accesskey="p" ref="tabParams">
          <span class="oi oi-wrench" aria-hidden="true"></span>
          <span class="ml-1">Paramètres</span>
        </a>
      </li>
    </ul>
    <div class="tab-content" id="TabContent">
      <div class="tab-pane fade show" :class="testFourneeEnCours() ? 'active' : ''" :id="'fournee-'+fourneeEnCours.date"
        role="tabpanel" aria-labelledby="fournee-tab">
        <div id="accordion" class="accordion card text-center mt-2">
          <div class="card-header collapsed h4 yo-pointer" data-toggle="collapse" data-target="#collapseOne"
            href="#collapseOne">
            <div class="row">
              <div class="col">
                <img src="favicon.png" width="50" height="30" class="d-none d-print-inline-block align-top" alt="" />
              </div>
              <div class="col-8">
                <a class="card-title">Fournée du
                  <u><mark id="date_nouvelle_fournee">{{formatJolieDate(fourneeEnCours.date)}}</mark></u>
                </a>
              </div>
              <div class="col">
                <img src="favicon.png" width="50" height="30" class="d-none d-print-inline-block align-top" alt="" />
              </div>
            </div>
          </div>
          <div id="collapseOne" class="card-block collapse show" data-parent="#accordion">
            <div class="card-body">
              <div class="row justify-content-md-center mb-3 d-print-none">
                <button id="toggle-recap-panier" class="btn btn-success ml-2" data-toggle="collapse"
                  data-target=".multi-collapse" aria-expanded="false" aria-controls="recap panier">
                  <span class="oi oi-eye yo-small" aria-hidden="true"></span>
                  <span class="ml-1">Récapitulatif / Panier</span>
                </button>
                <button id="ignorer-fournee" class="btn btn-danger ml-2" @click="ignorerFournee()">
                  <span class="oi oi-circle-x yo-small" aria-hidden="true"></span>
                  <span class="ml-1">Annuler</span>
                </button>
                <button id="impression-fournee" class="btn btn-primary ml-2" @click="imprimerFournee()">
                  <span class="oi oi-print yo-small" aria-hidden="true"></span>
                  <span class="ml-1">Imprimer</span>
                </button>
                <button id="validation-fournee" class="btn btn-warning ml-2" @click="validerFournee()">
                  <span class="oi oi-task yo-small" aria-hidden="true"></span>
                  <span class="ml-1">Valider</span>
                </button>
              </div>
              <div class="row justify-content-md-center mb-3 collapse multi-collapse show" id="recap">
                <div class="col col-lg-2"></div>
                <div class="col-md-8">
                  <table class="table table-striped table-sm table-bordered shadow">
                    <thead>
                      <tr>
                        <template v-for="pain in pains">
                          <th class="text-center text-danger align-middle">
                            {{ pain.nom}}
                          </th>
                        </template>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <template v-for="pain in pains">
                          <th class="text-center text-info align-middle">
                            {{pain.prix}}&nbsp;€
                          </th>
                        </template>
                      </tr>
                      <tr>
                        <template v-for="(pain, p_id) in pains">
                          <td class="text-center table-danger">{{ fourneeEnCours.sommes[p_id].nombre }}</td>
                        </template>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col col-lg-2"></div>
                <div class="col col-lg-2"></div>
                <div class="col-md-8">
                  <table class="table table-striped table-sm table-bordered shadow">
                    <thead>
                      <tr>
                        <th class="text-center text-warning align-middle">{{ typePains.p }}</th>
                        <th class="text-center text-warning align-middle">{{ typePains.g }}</th>
                        <th class="text-center text-warning align-middle">{{ typePains.s }}</th>
                        <th class="text-center table-warning">Poids Total Pains</th>
                        <th class="text-center text-warning align-middle">{{ typePains.e }}</th>
                        <th class="text-center text-warning align-middle">{{ typePains.b }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-center table-warning">
                          {{ arrondiCalcul(fourneeEnCours.sommes.total.poids.p) }}&nbsp;kg
                        </td>
                        <td class="text-center table-warning">
                          {{ arrondiCalcul(fourneeEnCours.sommes.total.poids.g) }}&nbsp;kg
                        </td>
                        <td class="text-center table-warning">
                          {{ arrondiCalcul(fourneeEnCours.sommes.total.poids.s) }}&nbsp;kg
                        </td>
                        <th class="text-center table-warning">
                          {{
                          arrondiCalcul(fourneeEnCours.sommes.total.poids.p+fourneeEnCours.sommes.total.poids.g+fourneeEnCours.sommes.total.poids.s)
                          }}&nbsp;kg
                        </th>
                        <td class="text-center table-warning">
                          {{ arrondiCalcul(fourneeEnCours.sommes.total.poids.e) }}&nbsp;kg
                        </td>
                        <td class="text-center table-warning">
                          {{ arrondiCalcul(fourneeEnCours.sommes.total.poids.b) }}&nbsp;kg
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col col-lg-2"></div>
              </div>
              <div class="collapse multi-collapse d-print-none" id="recap">
                <table id="TableauPanier" class="table table-bordered table-sm yo-align">
                  <tbody>
                    <tr>
                      <th v-bind:class="(fourneeEnCours.panier['cheque']==0) ? 'bg-light' : 'table-warning'">
                        <img class="yo-svg-rect" src="images/cheque.png" alt="chèques" title="chèques" />
                      </th>
                      <th v-bind:class="(fourneeEnCours.panier['500']==0) ? 'bg-light' : 'table-warning'"
                        @click="modifieValeurPanier('500', 1)" @click.right.prevent="modifieValeurPanier('500', -1)">
                        <img class="yo-svg-rect" src="images/euros/500.png" alt="500" title="500" />
                      </th>
                      <th v-bind:class="(fourneeEnCours.panier['200']==0) ? 'bg-light' : 'table-warning'"
                        @click.left="modifieValeurPanier('200', 1)"
                        @click.right.prevent="modifieValeurPanier('200', -1)">
                        <img class="yo-svg-rect" src="images/euros/200.png" alt="200" title="200" />
                      </th>
                      <th v-bind:class="(fourneeEnCours.panier['100']==0) ? 'bg-light' : 'table-warning'"
                        @click.left="modifieValeurPanier('100', 1)"
                        @click.right.prevent="modifieValeurPanier('100', -1)">
                        <img class="yo-svg-rect" src="images/euros/100.png" alt="100" title="100" />
                      </th>
                      <th v-bind:class="(fourneeEnCours.panier['50']==0) ? 'bg-light' : 'table-warning'"
                        @click.left="modifieValeurPanier('50', 1)" @click.right.prevent="modifieValeurPanier('50', -1)">
                        <img class="yo-svg-rect" src="images/euros/50.png" alt="50" title="50" />
                      </th>
                      <th v-bind:class="(fourneeEnCours.panier['20']==0) ? 'bg-light' : 'table-warning'"
                        @click.left="modifieValeurPanier('20', 1)" @click.right.prevent="modifieValeurPanier('20', -1)">
                        <img class="yo-svg-rect" src="images/euros/20.png" alt="20" title="20" />
                      </th>
                      <th v-bind:class="(fourneeEnCours.panier['10']==0) ? 'bg-light' : 'table-warning'"
                        @click.left="modifieValeurPanier('10', 1)" @click.right.prevent="modifieValeurPanier('10', -1)">
                        <img class="yo-svg-rect" src="images/euros/10.png" alt="10" title="10" />
                      </th>
                      <th v-bind:class="(fourneeEnCours.panier['5']==0) ? 'bg-light' : 'table-warning'"
                        @click.left="modifieValeurPanier('5', 1)" @click.right.prevent="modifieValeurPanier('5', -1)">
                        <img class="yo-svg-rect" src="images/euros/5.png" alt="5" title="5" />
                      </th>
                    </tr>
                    <tr>
                      <td>
                        <input type="text" id="chqpanier" class="form-control" onFocus="this.select()"
                          @keyup.enter.prevent="valideCheque($event, '#TableauPanier td input')"
                          @keyup.esc="escCheque($event)" @blur="updatePanier('cheque', $event)"
                          v-bind:value="affichePrix(fourneeEnCours.panier.cheque)" />
                      </td>
                      <td>
                        <input type="number" class="form-control" onFocus="this.select()"
                          @keyup.enter.prevent="valideChamp('#TableauPanier td input')"
                          @input="updatePanier('500', $event)" v-bind:value="fourneeEnCours.panier['500']" min="0" />
                      </td>
                      <td>
                        <input type="number" class="form-control" onFocus="this.select()"
                          @keyup.enter.prevent="valideChamp('#TableauPanier td input')"
                          @input="updatePanier('200', $event)" v-bind:value="fourneeEnCours.panier['200']" min="0" />
                      </td>
                      <td>
                        <input type="number" class="form-control" onFocus="this.select()"
                          @keyup.enter.prevent="valideChamp('#TableauPanier td input')"
                          @input="updatePanier('100', $event)" v-bind:value="fourneeEnCours.panier['100']" min="0" />
                      </td>
                      <td>
                        <input type="number" class="form-control" onFocus="this.select()"
                          @keyup.enter.prevent="valideChamp('#TableauPanier td input')"
                          @input="updatePanier('50', $event)" v-bind:value="fourneeEnCours.panier['50']" min="0" />
                      </td>
                      <td>
                        <input type="number" class="form-control" onFocus="this.select()"
                          @keyup.enter.prevent="valideChamp('#TableauPanier td input')"
                          @input="updatePanier('20', $event)" v-bind:value="fourneeEnCours.panier['20']" min="0" />
                      </td>
                      <td>
                        <input type="number" class="form-control" onFocus="this.select()"
                          @keyup.enter.prevent="valideChamp('#TableauPanier td input')"
                          @input="updatePanier('10', $event)" v-bind:value="fourneeEnCours.panier['10']" min="0" />
                      </td>
                      <td>
                        <input type="number" class="form-control" onFocus="this.select()"
                          @keyup.enter.prevent="valideChamp('#TableauPanier td input')"
                          @input="updatePanier('5', $event)" v-bind:value="fourneeEnCours.panier['5']" min="0" />
                      </td>
                    </tr>
                    <tr>
                      <th v-bind:class="(fourneeEnCours.panier['2']==0) ? 'bg-light' : 'table-warning'"
                        @click.left="modifieValeurPanier('2', 1)" @click.right.prevent="modifieValeurPanier('2', -1)">
                        <img class="yo-svg-rond" src="images/euros/2.png" alt="2" title="2" />
                      </th>
                      <th v-bind:class="(fourneeEnCours.panier['1']==0) ? 'bg-light' : 'table-warning'"
                        @click.left="modifieValeurPanier('1', 1)" @click.right.prevent="modifieValeurPanier('1', -1)">
                        <img class="yo-svg-rond" src="images/euros/1.png" alt="1" title="1" />
                      </th>
                      <th v-bind:class="(fourneeEnCours.panier['05']==0) ? 'bg-light' : 'table-warning'"
                        @click.left="modifieValeurPanier('05', 1)" @click.right.prevent="modifieValeurPanier('05', -1)">
                        <img class="yo-svg-rond" src="images/euros/05.png" alt="05" title="05" />
                      </th>
                      <th v-bind:class="(fourneeEnCours.panier['02']==0) ? 'bg-light' : 'table-warning'"
                        @click.left="modifieValeurPanier('02', 1)" @click.right.prevent="modifieValeurPanier('02', -1)">
                        <img class="yo-svg-rond" src="images/euros/02.png" alt="02" title="02" />
                      </th>
                      <th v-bind:class="(fourneeEnCours.panier['01']==0) ? 'bg-light' : 'table-warning'"
                        @click.left="modifieValeurPanier('01', 1)" @click.right.prevent="modifieValeurPanier('01', -1)">
                        <img class="yo-svg-rond" src="images/euros/01.png" alt="01" title="01" />
                      </th>
                      <th v-bind:class="(fourneeEnCours.panier['005']==0) ? 'bg-light' : 'table-warning'"
                        @click.left="modifieValeurPanier('005', 1)"
                        @click.right.prevent="modifieValeurPanier('005', -1)">
                        <img class="yo-svg-rond" src="images/euros/005.png" alt="005" title="005" />
                      </th>
                      <th v-bind:class="(fourneeEnCours.panier['002']==0) ? 'bg-light' : 'table-warning'"
                        @click.left="modifieValeurPanier('002', 1)"
                        @click.right.prevent="modifieValeurPanier('002', -1)">
                        <img class="yo-svg-rond" src="images/euros/002.png" alt="002" title="002" />
                      </th>
                      <th v-bind:class="(fourneeEnCours.panier['001']==0) ? 'bg-light' : 'table-warning'"
                        @click.left="modifieValeurPanier('001', 1)"
                        @click.right.prevent="modifieValeurPanier('001', -1)">
                        <img class="yo-svg-rond" src="images/euros/001.png" alt="001" title="001" />
                      </th>
                    </tr>
                    <tr>
                      <td>
                        <input type="number" class="form-control" onFocus="this.select()"
                          @keyup.enter.prevent="valideChamp('#TableauPanier td input')"
                          @input="updatePanier('2', $event)" v-bind:value="fourneeEnCours.panier['2']" min="0" />
                      </td>
                      <td>
                        <input type="number" class="form-control" onFocus="this.select()"
                          @keyup.enter.prevent="valideChamp('#TableauPanier td input')"
                          @input="updatePanier('1', $event)" v-bind:value="fourneeEnCours.panier['1']" min="0" />
                      </td>
                      <td>
                        <input type="number" class="form-control" onFocus="this.select()"
                          @keyup.enter.prevent="valideChamp('#TableauPanier td input')"
                          @input="updatePanier('05', $event)" v-bind:value="fourneeEnCours.panier['05']" min="0" />
                      </td>
                      <td>
                        <input type="number" class="form-control" onFocus="this.select()"
                          @keyup.enter.prevent="valideChamp('#TableauPanier td input')"
                          @input="updatePanier('02', $event)" v-bind:value="fourneeEnCours.panier['02']" min="0" />
                      </td>
                      <td>
                        <input type="number" class="form-control" onFocus="this.select()"
                          @keyup.enter.prevent="valideChamp('#TableauPanier td input')"
                          @input="updatePanier('01', $event)" v-bind:value="fourneeEnCours.panier['01']" min="0" />
                      </td>
                      <td>
                        <input type="number" class="form-control" onFocus="this.select()"
                          @keyup.enter.prevent="valideChamp('#TableauPanier td input')"
                          @input="updatePanier('005', $event)" v-bind:value="fourneeEnCours.panier['005']" min="0" />
                      </td>
                      <td>
                        <input type="number" class="form-control" onFocus="this.select()"
                          @keyup.enter.prevent="valideChamp('#TableauPanier td input')"
                          @input="updatePanier('002', $event)" v-bind:value="fourneeEnCours.panier['002']" min="0" />
                      </td>
                      <td>
                        <input type="number" class="form-control" onFocus="this.select()"
                          @keyup.enter.prevent="valideChamp('#TableauPanier td input')"
                          @input="updatePanier('001', $event)" v-bind:value="fourneeEnCours.panier['001']" min="0" />
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="row justify-content-center">
                  <table class="table table-borderless yo-align col-4"
                    v-bind:class="(fourneeEnCours.sommes.total.versement!=fourneeEnCours.sommes.total.panier || fourneeEnCours.sommes.total.versement==0) ? 'shadow' : 'shining'">
                    <tbody>
                      <tr>
                        <td class="col-2"
                          v-bind:class="(fourneeEnCours.sommes.total.panier==0) ? 'bg-light' : 'table-warning'">
                          <img class="yo-svg-rond2" src="images/panier.png" alt="panier" title="panier" />
                        </td>
                        <td class="col-2"
                          v-bind:class="(fourneeEnCours.sommes.total.versement!=fourneeEnCours.sommes.total.panier) ? 'table-danger' : 'table-warning'">
                          <img class="yo-svg-rond2"
                            v-bind:src="(fourneeEnCours.sommes.total.versement!=fourneeEnCours.sommes.total.panier) ? 'images/don-bas.png' : 'images/don.png'"
                            alt="don" title="don" />
                        </td>
                      </tr>
                      <tr>
                        <td class="h3"
                          v-bind:class="(fourneeEnCours.sommes.total.panier==0) ? 'bg-light' : 'table-warning'">
                          {{ affichePrix(fourneeEnCours.sommes.total.panier) }}
                        </td>
                        <td class="h3"
                          v-bind:class="(fourneeEnCours.sommes.total.versement!=fourneeEnCours.sommes.total.panier) ? 'table-danger' : 'table-warning'">
                          {{ affichePrix(fourneeEnCours.sommes.total.versement) }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <table id="GloutonsFourneeEnCours" class="table table-hover table-bordered yo-taille">
          <thead class="thead-light">
            <tr>
              <th @click="imprimerToutOuRien($event)" class="yo-pointer yo-hover d-print-none" scope="col"
                title="Imprime tout / Imprime rien">
                <span class="oi oi-tag" aria-hidden="true"></span>
              </th>
              <th scope="col">
                <span class="oi oi-person" aria-hidden="true"></span>
                <span class="ml-1">Nom</span>
              </th>
              <th class="w-25" scope="col">
                <span class="oi oi-calendar" aria-hidden="true"></span>
                <span class="ml-1">Commande</span>
              </th>
              <th class="text-center" scope="col">
                <span class="oi oi-check" aria-hidden="true"></span>
                <span class="ml-1">Pain<br />emporté</span>
              </th>
              <th class="text-center" scope="col">
                <span class="oi oi-thumb-up" aria-hidden="true"></span>
                <span class="ml-1">Somme<br />versée</span>
              </th>
              <th class="text-center" scope="col">
                <span class="oi oi-euro" aria-hidden="true"></span>
                <span class="ml-1">Solde<br />actuel</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(glou, index) in fourneeEnCours.gloutons" :id="'tr-fourneeencours-'+index">
              <th @click="imprimerGloutonOuPas($event)" class="yo-pointer yo-hover d-print-none" scope="row"
                title="Imprimer ce glouton ou pas">
                {{ index + 1 }}
              </th>
              <td @click="exclureGloutonFournee(glou.nom, fourneeEnCours.date)" class="align-middle yo-pointer yo-hover"
                title="Exclure ce glouton de la fournée en cours">
                <strong>{{ glou.nom }}</strong>
                <div v-if="glou.annot" class="float-right text-secondary">{{ glou.annot }}</div>
              </td>
              <td class="table-danger align-middle">
                <template v-for="(pain, p_id) in pains">
                  <div class="d-inline-block mr-4" v-if="glou.articles[p_id]">
                    <!-- <span class="oi oi-aperture mr-1" aria-hidden="true"></span> -->
                    <span class="font-weight-bolder">{{ glou.articles[p_id] }}</span> {{ pain.nom }}
                  </div>
                </template>
              </td>
              <td class="text-center"></td>
              <td class="table-warning text-center yo-hover align-middle" contenteditable="true"
                v-html="(glou.verse==='') ? '' : affichePrix(glou.verse)" @focus="activeVersement($event)"
                @blur="ecritVersement(index, $event)" @keyup.enter.prevent="valideVersement()"
                :title="affichePrix(glou.due)"></td>
              <td class="text-center align-middle"><strong>{{ affichePrix(glou.solde) }}</strong></td>
            </tr>
          </tbody>
        </table>
        <div class="alert alert-danger text-center" v-show="fourneeEnCours.gloutons.length == 0"
          @click="sendDropdown('btnAddComRec')">
          <span class="oi oi-double-quote-serif-left" aria-hidden="true"></span>
          <strong class="yo-respire">Personne pour cette fournée !</strong>
          <span class="oi oi-double-quote-serif-right" aria-hidden="true"></span>
        </div>
      </div>
      <div class="tab-pane fade show" :class="testFourneeEnCours() ? '' : 'active'" id="gloutons" role="tabpanel"
        aria-labelledby="gloutons-tab">
        <br />
        <div class="container" id="glou">
          <div class="modal fade" id="GloutonModal" ref="GloutonModal" tabindex="-1" role="dialog"
            aria-labelledby="GloutonModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="GloutonModalLabel">Ajout / Modification d'un glouton</h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="gnom" class="col-form-label">Nom :</label>
                      <input ref="newNom" type="text" class="form-control" v-model.trim="inputNom" placeholder="Nom"
                        id="gnom" />
                    </div>
                    <div class="form-group">
                      <label for="gmail" class="col-form-label">Mail :</label>
                      <input type="text" class="form-control" v-model.trim="inputMail" placeholder="Mail" id="gmail" />
                    </div>
                    <div class="form-group">
                      <label for="gtel" class="col-form-label">Tel :</label>
                      <input type="text" class="form-control" v-model.trim="inputTel" placeholder="Tel" id="gtel" />
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="gsolde" class="col-form-label">Solde :</label>
                        <input type="text" class="form-control" v-model.trim="inputSolde" placeholder="Solde"
                          id="gsolde" />
                      </div>
                      <div class="form-group col-md-6">
                        <label for="gajout" class="col-form-label">Ajout :</label>
                        <input type="text" class="form-control" v-model.trim="inputAjout"
                          @keyup.enter.prevent="valideAjoutSolde($event)" placeholder="Somme à ajouter au solde"
                          id="gajout" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="gannot" class="col-form-label">Annotation :</label>
                      <input type="text" class="form-control" v-model.trim="inputAnnot"
                        placeholder="Annotation pour la fournée" id="gannot" />
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info btn-block" @click.prevent="enregistrer()">
                    <span class="oi oi-pencil yo-small" aria-hidden="true"></span>
                    <span class="ml-1">Enregistrer</span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="CommandeModal" ref="CommandeModal" tabindex="-1" role="dialog"
            aria-labelledby="CommandeModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="row ml-2">
                    <h5 class="modal-title" id="CommandeModalLabel">
                      Commandes de&nbsp;&nbsp;
                      <span class="h4 yo-souligne">{{ inputNom }}</span>
                    </h5>
                    <button id="btnAddVac" type="button" class="btn btn-success ml-5 mr-0" data-toggle="collapse"
                      data-target=".a-virer" aria-expanded="false" aria-controls="formAddVac"
                      title="Afficher le formulaire de saisie de vacances" @click="toggleBoutonVac()">
                      <span class="oi oi-sun yo-small" aria-hidden="true"></span>
                      <span class="ml-1">Vacances</span>
                    </button>
                  </div>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="row btn-group-sm ml-4 mr-4 mb-sm-2 collapse card a-virer" id="formAddVac">
                      <div class="card border-success">
                        <div class="card-header">Aucune commande entre ces 2 dates :</div>
                        <div class="card-body">
                          <input id="inputDateVac1" class="form-control ml-4 mt-2 col-8" @change="changeMinInputVac2()"
                            type="date" v-model="inputDateVacDeb" placeholder="aaaa-mm-jj"
                            title="Date de début des vacances" :min="formatCommandeDate(new Date())" />
                          <input id="inputDateVac2" class="form-control ml-4 mt-2 col-8" @change="changeMaxInputVac1()"
                            type="date" v-model="inputDateVacFin" placeholder="aaaa-mm-jj"
                            title="Date de fin des vacances" :min="formatCommandeDate(new Date())" />
                        </div>
                        <div class="card-footer yo-align">
                          <button id="btnAddDatesVac" type="button" class="btn btn-warning mt-2 mb-2"
                            @click="ajouterCommandesVacances()">
                            <span class="oi oi-data-transfer-download yo-small" aria-hidden="true"></span>
                            <span class="ml-1">Saisir les commandes vides correspondantes</span>
                            <span class="oi oi-data-transfer-download yo-small" aria-hidden="true"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="row btn-group-sm ml-4 mb-sm-2 show a-virer">
                      <button id="btnAddComRec" type="button" class="btn btn-info dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        title="Ajouter une commande récurrente">
                        <span class="oi oi-plus yo-small" aria-hidden="true"></span>
                        <span class="ml-1">Ajouter une commande récurrente</span>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="btnAddComRec">
                        <button v-for="jour in listeJours" class="dropdown-item"
                          @click.prevent="ajouterCommandeRec(jour, $event)" type="button">
                          {{ jour.capitalize() }}
                        </button>
                      </div>
                    </div>
                    <!-- <div class="row btn-group-sm ml-4 mb-sm-2 show a-virer">
											<button id="btnAddComPoncProchain" type="button"
												class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false"
												title="Ajouter une commande ponctuelle pour la semaine prochaine">
												<span class="oi oi-plus yo-small text-warning"
													aria-hidden="true"></span>
												<span class="ml-1 text-warning">Ajouter une commande ponctuelle pour la
													semaine prochaine</span>
											</button>
											<div class="dropdown-menu" aria-labelledby="btnAddComPoncProchain">
												<button v-for="jour in listeJours" class="dropdown-item"
													@click.prevent="ajouterCommandePoncProchain(jour, $event)"
													type="button">{{ jour.capitalize() + " prochain" }}</button>
											</div>
										</div> -->
                    <div class="row btn-group-sm ml-4 mb-sm-2 show a-virer">
                      <button id="btnAddComFourneeEnCours" type="button" class="btn btn-danger"
                        :class="testFourneeEnCours() ? '' : 'disabled'"
                        title="Ajouter une commande ponctuelle sur la fournée en cours"
                        @click="ajouterCommandePoncFourneeEnCours($event)">
                        <span class="oi oi-plus yo-small" aria-hidden="true"></span>
                        <span class="ml-1">Ajouter une commande ponctuelle pour la fournée en cours</span>
                      </button>
                    </div>
                    <div class="row form-group-sm alert alert-dark ml-4 mr-4 mb-sm-2 pr-4 show a-virer">
                      <span class="oi oi-plus yo-small mt-2 mr-2" aria-hidden="true"></span>
                      <label for="inputDateCom" class="col-form-label" style="font-size: 0.875rem">Ajouter une commande
                        ponctuelle à une date précise :</label>
                      <input id="inputDateCom" class="form-control" v-model="inputDate"
                        @change="ajouterCommandePonc($event)" type="date" placeholder="aaaa-mm-jj"
                        :min="formatCommandeDate(new Date())" />
                    </div>
                    <table class="table table-striped table-sm shadow">
                      <thead class="thead-dark text-center">
                        <tr class="m-0">
                          <th class="w-25">Jour</th>
                          <th class="w-60">Choix</th>
                          <th class="w-15"></th>
                        </tr>
                      </thead>
                      <tbody id="tbody-Com" v-show="!testObjetVide(inputCom)">
                        <tr v-for="jour in Object.keys(inputCom).sort(triJours)">
                          <td class="btn-group-sm"
                            v-bind:class="(testIsCommandeRec(jour)) ? '' : testIsOldCommande(jour) ? 'bg-danger text-muted' : 'bg-secondary text-warning'">
                            <p>{{ (testIsCommandeRec(jour)) ? jour.capitalize() : formatJolieDate(jour) }}</p>
                            <button class="btn btn-danger btn-block"
                              @click.prevent="supprimerCommande(inputCom, jour, $event)"
                              title="Supprimer cette commande">
                              <span class="oi oi-x yo-small" aria-hidden="true"></span>
                            </button>
                          </td>
                          <td class="align-middle">
                            <ul class="list-group list-group-flush">
                              <div class="alert alert-danger text-center" v-show="testObjetVide(inputCom[jour])"
                                @click="sendDropdown('btnAddComArt-' + jour)">
                                <span class="oi oi-double-quote-serif-left" aria-hidden="true"></span>
                                <strong class="yo-respire">Aucun article !</strong>
                                <span class="oi oi-double-quote-serif-right" aria-hidden="true"></span>
                              </div>
                              <li class="list-group-item btn-group-sm" v-for="(nb, p_id) in inputCom[jour]">
                                <div class="row">
                                  <div class="col-sm-4">
                                    <input type="number" class="form-control"
                                      @input="updateNbArticle(inputCom[jour], p_id, $event)" v-bind:value="nb" min="1"
                                      max="100" />
                                  </div>
                                  <div class="col-sm-5">
                                    <p>{{ pains[p_id].nom }}</p>
                                  </div>
                                  <div class="col-sm-3">
                                    <button class="btn btn-warning btn-block"
                                      @click.prevent="supprimerArticle(inputCom[jour], p_id, $event)"
                                      title="Supprimer cet article">
                                      <span class="oi oi-minus yo-small" aria-hidden="true"></span>
                                    </button>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </td>
                          <td class="btn-group-sm">
                            <button :id="'btnAddComArt-' + jour" class="btn btn-success btn-block dropdown-toggle"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                              title="Ajouter un article">
                              <span class="oi oi-plus yo-small" aria-hidden="true"></span>
                            </button>
                            <div class="dropdown-menu" :aria-labelledby="'btnAddComArt-' + jour">
                              <button v-for="(pain, p_id) in pains" class="dropdown-item"
                                @click.prevent="ajouterArticle(jour, p_id, $event)" type="button">
                                {{ pain.nom }}
                              </button>
                            </div>
                            <p></p>
                            <button class="btn btn-secondary btn-block"
                              @click.prevent="viderArticles(inputCom[jour], $event)"
                              title="Supprimer tous les articles">
                              <span class="oi oi-minus yo-small" aria-hidden="true"></span>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="alert alert-info text-center" v-show="testObjetVide(inputCom)"
                      @click="sendDropdown('btnAddComRec')">
                      <span class="oi oi-double-quote-serif-left" aria-hidden="true"></span>
                      <strong class="yo-respire">Aucune commande !</strong>
                      <span class="oi oi-double-quote-serif-right" aria-hidden="true"></span>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info btn-block" @click.prevent="enregistrer()">
                    <span class="oi oi-pencil yo-small" aria-hidden="true"></span>
                    <span class="ml-1">Enregistrer</span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="card border-info">
            <div class="card-header">
              <div class="row">
                <div class="col-md-4 h5">
                  Gloutons actifs<span class="badge badge-pill badge-info yo-badge">{{listeActifs.length}}</span>
                </div>
                <div class="col-md-4 offset-md-4">
                  <div class="input-group" title="Rechercher parmis les gloutons actifs">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <span class="oi oi-magnifying-glass yo-small" aria-hidden="true"></span>
                      </div>
                    </div>
                    <input class="form-control" v-model="inputRecherche" @keyup.esc="viderRecherche()" ref="gRecherche"
                      type="search" placeholder="Rechercher" aria-label="Rechercher" accesskey="r" />
                    <div class="input-group-append" v-show="inputRecherche">
                      <button type="button" class="btn btn-secondary" @click="viderRecherche()"
                        title="Annuler la recherche" accesskey="z">
                        <span class="oi oi-x yo-small" aria-hidden="true"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <table class="table table-bordered table-striped yo-align">
                <thead>
                  <tr>
                    <th class="col-sm-3">
                      <span class="oi oi-people yo-small" aria-hidden="true"></span>
                      <span class="ml-1">Gloutons</span>
                    </th>
                    <th class="col-sm-6">
                      <span class="oi oi-calendar yo-small" aria-hidden="true"></span>
                      <span class="ml-1">Commande</span>
                    </th>
                    <th class="col-sm-1">
                      <span class="oi oi-euro yo-small" aria-hidden="true"></span>
                      <span class="ml-1">Solde</span>
                    </th>
                    <th class="col-sm-2">
                      <button class="btn btn-info btn-block" @click="ajouterGlouton()"
                        title="Ajouter un nouveau glouton">
                        <span class="oi oi-plus" aria-hidden="true"></span>
                      </button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="glouton in listeActifs.sort(triGloutonsNom)" :key="glouton.nom">
                    <td @click="modifierGlouton(glouton.nom)" class="yo-pointer yo-hover"
                      title="Modifier les informations de ce glouton">
                      <div>
                        <span class="oi oi-person yo-small yo-respire-5" aria-hidden="true"></span>
                        <strong>{{ glouton.nom }}</strong>
                        <br />
                      </div>
                      <div v-show="glouton.mail">
                        <span class="oi oi-envelope-closed yo-small yo-respire-5" aria-hidden="true"></span>
                        <a @click.stop :href="'mailto:' + glouton.mail">{{ glouton.mail }}</a>
                        <br />
                      </div>
                      <div v-show="glouton.tel">
                        <span class="oi oi-phone yo-small yo-respire-5" aria-hidden="true"></span>
                        {{ glouton.tel }}
                      </div>
                    </td>
                    <td @click="modifierCom(glouton.nom)" class="yo-pointer yo-hover"
                      title="Modifier les commandes de ce glouton">
                      <div class="alert alert-info text-center" v-show="testObjetVide(glouton.commande)">
                        <span class="oi oi-double-quote-serif-left" aria-hidden="true"></span>
                        <strong class="yo-respire">Aucune commande !</strong>
                        <span class="oi oi-double-quote-serif-right" aria-hidden="true"></span>
                      </div>
                      <div class="row" v-show="!testObjetVide(glouton.commande)">
                        <div class="col-sm-6" v-for="jour in Object.keys(glouton.commande).sort(triJours)">
                          <div class="card text-center yo-apres"
                            v-bind:class="(testIsCommandeRec(jour)) ? 'border-info' : testIsOldCommande(jour) ? 'border-danger' : 'border-secondary'">
                            <div class="card-header"
                              v-bind:class="(testIsCommandeRec(jour)) ? 'bg-info text-light' : testIsOldCommande(jour) ? 'bg-danger text-muted' : 'bg-secondary text-warning'">
                              <strong class="yo-respire">{{ (testIsCommandeRec(jour)) ? jour.capitalize() :
                                formatJolieDate(jour) }}</strong>
                            </div>
                            <div class="alert alert-secondary text-center"
                              v-show="testObjetVide(glouton.commande[jour])">
                              <span class="oi oi-double-quote-serif-left" aria-hidden="true"></span>
                              <strong class="yo-respire">Rien !</strong>
                              <span class="oi oi-double-quote-serif-right" aria-hidden="true"></span>
                            </div>
                            <ul class="list-group list-group-flush" v-for="(nb, p_id) in glouton.commande[jour]">
                              <li class="list-group-item">
                                <span class="badge yo-badge yo-respire-5"
                                  v-bind:class="(testIsCommandeRec(jour)) ? 'badge-info text-light' : testIsOldCommande(jour) ? 'badge-danger text-muted' : 'badge-secondary text-warning'">{{nb}}</span>
                                &nbsp;{{pains[p_id].nom}}
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="alert"
                        v-bind:class="(glouton.solde > 0) ? 'alert-success' : (glouton.solde < 0) ? 'alert-danger' : 'alert-info'">
                        {{ affichePrix(glouton.solde) }}
                      </div>
                    </td>
                    <td>
                      <div class="row">
                        <div class="col-sm-6">
                          <button class="btn btn-info" @click="modifierCom(glouton.nom)"
                            title="Modifier les commandes de ce glouton">
                            <span class="oi oi-pencil" aria-hidden="true"></span>
                          </button>
                        </div>
                        <div class="col-sm-6">
                          <button class="btn btn-warning" @click="mettreEnAttenteGlouton(glouton.nom)"
                            title="Suspendre ce glouton">
                            <span class="oi oi-clock" aria-hidden="true"></span>
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="alert alert-info text-center" v-show="listeActifs.length==0">
                <span class="oi oi-double-quote-serif-left" aria-hidden="true"></span>
                <strong class="yo-respire">{{rien()}} !</strong>
                <span class="oi oi-double-quote-serif-right" aria-hidden="true"></span>
              </div>
              <!-- <div class="card-footer">
				  &nbsp
				  <button class="button btn btn-xs btn-warning" @click="tousAttente">Tous en attente</button>
				</div> -->
            </div>
          </div>
          <br />
        </div>
      </div>
      <div class="tab-pane fade show" id="gloutons_en_attente" role="tabpanel"
        aria-labelledby="gloutons_en_attente-tab">
        <br />
        <div class="container" id="att">
          <div class="card border-warning bg-dark">
            <div class="card-header">
              <div class="row">
                <div class="col-md-4 h5 text-warning">
                  Gloutons suspendus<span
                    class="badge badge-pill badge-warning yo-badge">{{listeEnAttente.length}}</span>
                </div>
                <div class="col-md-4 offset-md-4">
                  <div class="input-group" title="Rechercher parmis les gloutons suspendus">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <span class="oi oi-magnifying-glass yo-small" aria-hidden="true"></span>
                      </div>
                    </div>
                    <input class="form-control" v-model="inputRechercheAtt" @keyup.esc="viderRechercheAtt()"
                      ref="gRechercheAtt" type="search" placeholder="Rechercher" aria-label="Rechercher" />
                    <div class="input-group-append" v-show="inputRechercheAtt">
                      <button type="button" class="btn btn-secondary" @click="viderRechercheAtt()"
                        title="Annuler la recherche">
                        <span class="oi oi-x yo-small" aria-hidden="true"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <table class="table table-bordered table-striped yo-align text-light">
                <thead>
                  <tr>
                    <th class="col-sm-3">
                      <span class="oi oi-people yo-small" aria-hidden="true"></span>
                      <span class="ml-1">Gloutons</span>
                    </th>
                    <th class="col-sm-6">
                      <span class="oi oi-calendar yo-small" aria-hidden="true"></span>
                      <span class="ml-1">Commande</span>
                    </th>
                    <th class="col-sm-1">
                      <span class="oi oi-euro yo-small" aria-hidden="true"></span>
                      <span class="ml-1">Solde</span>
                    </th>
                    <th class="col-sm-2">
                      <button class="button btn btn-xs btn-success" v-on:click="toutRetablir"
                        title="Rétablir tous les gloutons suspendus">
                        <span class="oi oi-share-boxed yo-small" aria-hidden="true"></span>
                        Tout rétablir
                      </button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="att in listeEnAttente.sort(triGloutonsNom)" :key="att.nom">
                    <td>
                      <div>
                        <span class="oi oi-person yo-small yo-respire-5" aria-hidden="true"></span>
                        <strong>{{ att.nom }}</strong>
                        <br />
                      </div>
                      <div v-show="att.mail">
                        <span class="oi oi-envelope-closed yo-small yo-respire-5" aria-hidden="true"></span>
                        <a :href="'mailto:' + att.mail">{{ att.mail }}</a>
                        <br />
                      </div>
                      <div v-show="att.tel">
                        <span class="oi oi-phone yo-small yo-respire-5" aria-hidden="true"></span>
                        {{ att.tel }}
                      </div>
                    </td>
                    <td>
                      <div class="alert alert-warning text-center" v-show="testObjetVide(att.commande)">
                        <span class="oi oi-double-quote-serif-left" aria-hidden="true"></span>
                        <strong class="yo-respire">Aucune commande !</strong>
                        <span class="oi oi-double-quote-serif-right" aria-hidden="true"></span>
                      </div>
                      <div class="row" v-show="!testObjetVide(att.commande)">
                        <div class="col-sm-6" v-for="jour in Object.keys(att.commande).sort(triJours)">
                          <div class="card text-center yo-apres"
                            v-bind:class="(testIsCommandeRec(jour)) ? 'border-warning' : testIsOldCommande(jour) ? 'border-danger' : 'border-secondary'">
                            <div class="card-header"
                              v-bind:class="(testIsCommandeRec(jour)) ? 'bg-warning text-dark' : testIsOldCommande(jour) ? 'bg-danger text-muted' : 'bg-secondary text-warning'">
                              <strong class="yo-respire">{{ (testIsCommandeRec(jour)) ? jour.capitalize() :
                                formatJolieDate(jour) }}</strong>
                            </div>
                            <div class="alert alert-secondary text-center" v-show="testObjetVide(att.commande[jour])">
                              <span class="oi oi-double-quote-serif-left" aria-hidden="true"></span>
                              <strong class="yo-respire">Rien !</strong>
                              <span class="oi oi-double-quote-serif-right" aria-hidden="true"></span>
                            </div>
                            <ul class="list-group list-group-flush" v-for="(nb, p_id) in att.commande[jour]">
                              <li class="list-group-item bg-dark">
                                <span class="badge yo-badge yo-respire-5"
                                  v-bind:class="(testIsCommandeRec(jour)) ? 'badge-warning text-dark' : testIsOldCommande(jour) ? 'badge-danger text-muted' : 'badge-secondary text-warning'">{{nb}}</span>
                                &nbsp;{{pains[p_id].nom}}
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="alert"
                        v-bind:class="(att.solde > 0) ? 'alert-success' : (att.solde < 0) ? 'alert-danger' : 'alert-info'">
                        {{ affichePrix(att.solde) }}
                      </div>
                    </td>
                    <td>
                      <div class="row">
                        <div class="col-sm-6">
                          <button class="btn btn-success" v-on:click="retablirGlouton(att.nom)"
                            title="Rétablir ce glouton">
                            <span class="oi oi-share-boxed" aria-hidden="true"></span>
                          </button>
                        </div>
                        <div class="col-sm-6">
                          <button class="btn btn-danger" v-on:click="eliminerGlouton(att.nom)"
                            title="Supprimer ce glouton">
                            <span class="oi oi-x" aria-hidden="true"></span>
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="alert alert-warning text-center" v-show="listeEnAttente.length==0">
                <span class="oi oi-double-quote-serif-left" aria-hidden="true"></span>
                <strong class="yo-respire">{{rien()}} !</strong>
                <span class="oi oi-double-quote-serif-right" aria-hidden="true"></span>
              </div>
              <!-- <div class="card-footer">
				  &nbsp
				  <div class="btn-group">
					<button class="button btn btn-xs btn-success" v-on:click="toutRetablir">Tout rétablir</button>
					<button class="button btn btn-xs btn-danger" v-on:click="toutEliminer">Tout supprimer</button>
				  </div>
				</div> -->
            </div>
          </div>
          <br />
        </div>
      </div>
      <div class="tab-pane fade show" id="prevision" role="tabpanel" aria-labelledby="prevision-tab">
        <br />
        <div class="alert alert-info text-center container" v-if="Object.keys(previsions).length==0">
          <span class="oi oi-double-quote-serif-left" aria-hidden="true"></span>
          <strong class="yo-respire">Calcul en cours !</strong>
          <span class="oi oi-double-quote-serif-right" aria-hidden="true"></span>
        </div>
        <div v-else class="container mt-2">
          <div class="row">
            <template v-for="j in jours" v-show="jours.length != 0">
              <div class="col-sm-6" v-if="previsions.rec[j]">
                <div class="card text-center border-secondary">
                  <div class="card-header h4 text-center">
                    <div>
                      <span class="h5 text-info font-weight-bold">{{ j.capitalize() }}</span>
                      <table class="table table-striped table-sm h6">
                        <thead>
                          <tr>
                            <th class="text-center text-info align-middle">{{ typePains.p }}</th>
                            <th class="text-center text-info align-middle">{{ typePains.g }}</th>
                            <th class="text-center text-info align-middle">{{ typePains.s }}</th>
                            <th class="table-info">Poids Total Pains</th>
                            <th class="text-center text-info align-middle">{{ typePains.e }}</th>
                            <th class="text-center text-info align-middle">{{ typePains.b }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-center table-info">{{ arrondiCalcul(previsions.rec[j]["p"]) }}&nbsp;kg</td>
                            <td class="text-center table-info">{{ arrondiCalcul(previsions.rec[j]["g"]) }}&nbsp;kg</td>
                            <td class="text-center table-info">{{ arrondiCalcul(previsions.rec[j]["s"]) }}&nbsp;kg</td>
                            <th class="text-center table-info">
                              {{ arrondiCalcul(previsions.rec[j]["p"]+previsions.rec[j]["g"]+previsions.rec[j]["s"])
                              }}&nbsp;kg
                            </th>
                            <td class="text-center table-info">{{ arrondiCalcul(previsions.rec[j]["e"]) }}&nbsp;kg</td>
                            <td class="text-center table-info">{{ arrondiCalcul(previsions.rec[j]["b"]) }}&nbsp;kg</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="card-body text-warning">
                    <table class="table yo-align" v-show="Object.keys(previsions.ponc[j]).length != 0">
                      <tbody>
                        <template v-for="jour in Object.keys(previsions.ponc[j]).sort(triJours)">

                          <span class="h5 bg-warning">{{ formatJolieDate(jour) }}</span>
                          <table class="table table-sm h6">
                            <thead>
                              <tr>
                                <th class="text-center text-warning align-middle">{{ typePains.p }}</th>
                                <th class="text-center text-warning align-middle">{{ typePains.g }}</th>
                                <th class="text-center text-warning align-middle">{{ typePains.s }}</th>
                                <th class="table-warning">Poids Total Pains</th>
                                <th class="text-center text-warning align-middle">{{ typePains.e }}</th>
                                <th class="text-center text-warning align-middle">{{ typePains.b }}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="text-center table-warning">{{ arrondiCalcul(previsions.ponc[j][jour]["p"])
                                  }}&nbsp;kg</td>
                                <td class="text-center table-warning">{{ arrondiCalcul(previsions.ponc[j][jour]["g"])
                                  }}&nbsp;kg</td>
                                <td class="text-center table-warning">{{ arrondiCalcul(previsions.ponc[j][jour]["s"])
                                  }}&nbsp;kg</td>
                                <th class="text-center table-warning">
                                  {{
                                  arrondiCalcul(previsions.ponc[j][jour]["p"]+previsions.ponc[j][jour]["g"]+previsions.ponc[j][jour]["s"])
                                  }}&nbsp;kg
                                </th>
                                <td class="text-center table-warning">{{ arrondiCalcul(previsions.ponc[j][jour]["e"])
                                  }}&nbsp;kg</td>
                                <td class="text-center table-warning">{{ arrondiCalcul(previsions.ponc[j][jour]["b"])
                                  }}&nbsp;kg</td>
                              </tr>
                            </tbody>
                          </table>

                        </template>
                      </tbody>
                    </table>
                    <div class="alert alert-warning text-center" v-show="Object.keys(previsions.ponc[j]).length == 0">
                      <span class="oi oi-double-quote-serif-left" aria-hidden="true"></span>
                      <strong class="yo-respire">Aucune commande</strong>
                      <span class="oi oi-double-quote-serif-right" aria-hidden="true"></span>
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </div>
          <div class="alert alert-info text-center" v-show="jours.length == 0">
            <span class="oi oi-double-quote-serif-left" aria-hidden="true"></span>
            <strong class="yo-respire">Aucun jour de fournée paramétré</strong>
            <span class="oi oi-double-quote-serif-right" aria-hidden="true"></span>
          </div>
        </div>
      </div>
      <div class="tab-pane fade show" id="tirelire" role="tabpanel" aria-labelledby="tirelire-tab">
        <div class="text-center m-3">
          <div class="row align-items-center mb-3">
            <div class="col-1"></div>
            <div class="col-5">
              <table class="table table-borderless shadow yo-align">
                <tbody>
                  <tr>
                    <td class="col-2" v-bind:class="(calculTotalTirelire()==0) ? 'bg-light' : 'table-warning'">
                      <img class="yo-svg-rond2" src="images/tirelire.png" alt="tirelire" title="tirelire" />
                    </td>
                    <td class="col-2 table-warning yo-hover yo-pointer" @click="razTirelire()" rowspan="2">
                      <img class="yo-svg-rond2" src="images/banque.png" alt="banque" title="Vider" />
                    </td>
                  </tr>
                  <tr>
                    <td class="h3" v-bind:class="(calculTotalTirelire()==0) ? 'bg-light' : 'table-warning'">
                      {{ affichePrix(calculTotalTirelire()) }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-3"></div>
            <div class="col-2 align-self-end">
              <table class="table table-borderless shadow yo-align">
                <tbody>
                  <tr>
                    <td>
                      <img src="images/gloutons.png" alt="gloutons" title="Total du solde de tous les gloutons" />
                    </td>
                  </tr>
                  <tr>
                    <td class="h3"
                      v-bind:class="(totalSoldes > 0) ? 'table-success' : (totalSoldes < 0) ? 'table-danger' : 'table-info'">
                      {{ affichePrix(totalSoldes) }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <table id="TableauTirelire" class="table table-bordered table-sm yo-align">
            <tbody>
              <tr>
                <th v-bind:class="(tirelire['cheque']==0) ? 'bg-light' : 'table-warning'">
                  <img class="yo-svg-rect" src="images/cheque.png" alt="chèques" title="chèques" />
                </th>
                <th v-bind:class="(tirelire['500']==0) ? 'bg-light' : 'table-warning'"
                  @click="modifieValeurTirelire('500', 1)" @click.right.prevent="modifieValeurTirelire('500', -1)">
                  <img class="yo-svg-rect" src="images/euros/500.png" alt="500" title="500" />
                </th>
                <th v-bind:class="(tirelire['200']==0) ? 'bg-light' : 'table-warning'"
                  @click.left="modifieValeurTirelire('200', 1)" @click.right.prevent="modifieValeurTirelire('200', -1)">
                  <img class="yo-svg-rect" src="images/euros/200.png" alt="200" title="200" />
                </th>
                <th v-bind:class="(tirelire['100']==0) ? 'bg-light' : 'table-warning'"
                  @click.left="modifieValeurTirelire('100', 1)" @click.right.prevent="modifieValeurTirelire('100', -1)">
                  <img class="yo-svg-rect" src="images/euros/100.png" alt="100" title="100" />
                </th>
                <th v-bind:class="(tirelire['50']==0) ? 'bg-light' : 'table-warning'"
                  @click.left="modifieValeurTirelire('50', 1)" @click.right.prevent="modifieValeurTirelire('50', -1)">
                  <img class="yo-svg-rect" src="images/euros/50.png" alt="50" title="50" />
                </th>
                <th v-bind:class="(tirelire['20']==0) ? 'bg-light' : 'table-warning'"
                  @click.left="modifieValeurTirelire('20', 1)" @click.right.prevent="modifieValeurTirelire('20', -1)">
                  <img class="yo-svg-rect" src="images/euros/20.png" alt="20" title="20" />
                </th>
                <th v-bind:class="(tirelire['10']==0) ? 'bg-light' : 'table-warning'"
                  @click.left="modifieValeurTirelire('10', 1)" @click.right.prevent="modifieValeurTirelire('10', -1)">
                  <img class="yo-svg-rect" src="images/euros/10.png" alt="10" title="10" />
                </th>
                <th v-bind:class="(tirelire['5']==0) ? 'bg-light' : 'table-warning'"
                  @click.left="modifieValeurTirelire('5', 1)" @click.right.prevent="modifieValeurTirelire('5', -1)">
                  <img class="yo-svg-rect" src="images/euros/5.png" alt="5" title="5" />
                </th>
              </tr>
              <tr>
                <td>
                  <input id="chqtirelire" type="text" class="form-control" @blur="updateTirelire('cheque', $event)"
                    @keyup.esc="escCheque($event)" v-bind:value="affichePrix(tirelire.cheque)" onFocus="this.select()"
                    @keyup.enter.prevent="valideCheque($event, '#TableauTirelire td input')" />
                </td>
                <td>
                  <input type="number" class="form-control" @input="updateTirelire('500', $event)"
                    v-bind:value="tirelire['500']" min="0" onFocus="this.select()"
                    @keyup.enter.prevent="valideChamp('#TableauTirelire td input')" />
                </td>
                <td>
                  <input type="number" class="form-control" @input="updateTirelire('200', $event)"
                    v-bind:value="tirelire['200']" min="0" onFocus="this.select()"
                    @keyup.enter.prevent="valideChamp('#TableauTirelire td input')" />
                </td>
                <td>
                  <input type="number" class="form-control" @input="updateTirelire('100', $event)"
                    v-bind:value="tirelire['100']" min="0" onFocus="this.select()"
                    @keyup.enter.prevent="valideChamp('#TableauTirelire td input')" />
                </td>
                <td>
                  <input type="number" class="form-control" @input="updateTirelire('50', $event)"
                    v-bind:value="tirelire['50']" min="0" onFocus="this.select()"
                    @keyup.enter.prevent="valideChamp('#TableauTirelire td input')" />
                </td>
                <td>
                  <input type="number" class="form-control" @input="updateTirelire('20', $event)"
                    v-bind:value="tirelire['20']" min="0" onFocus="this.select()"
                    @keyup.enter.prevent="valideChamp('#TableauTirelire td input')" />
                </td>
                <td>
                  <input type="number" class="form-control" @input="updateTirelire('10', $event)"
                    v-bind:value="tirelire['10']" min="0" onFocus="this.select()"
                    @keyup.enter.prevent="valideChamp('#TableauTirelire td input')" />
                </td>
                <td>
                  <input type="number" class="form-control" @input="updateTirelire('5', $event)"
                    v-bind:value="tirelire['5']" min="0" onFocus="this.select()"
                    @keyup.enter.prevent="valideChamp('#TableauTirelire td input')" />
                </td>
              </tr>
              <tr>
                <th v-bind:class="(tirelire['2']==0) ? 'bg-light' : 'table-warning'"
                  @click.left="modifieValeurTirelire('2', 1)" @click.right.prevent="modifieValeurTirelire('2', -1)">
                  <img class="yo-svg-rond" src="images/euros/2.png" alt="2" title="2" />
                </th>
                <th v-bind:class="(tirelire['1']==0) ? 'bg-light' : 'table-warning'"
                  @click.left="modifieValeurTirelire('1', 1)" @click.right.prevent="modifieValeurTirelire('1', -1)">
                  <img class="yo-svg-rond" src="images/euros/1.png" alt="1" title="1" />
                </th>
                <th v-bind:class="(tirelire['05']==0) ? 'bg-light' : 'table-warning'"
                  @click.left="modifieValeurTirelire('05', 1)" @click.right.prevent="modifieValeurTirelire('05', -1)">
                  <img class="yo-svg-rond" src="images/euros/05.png" alt="05" title="05" />
                </th>
                <th v-bind:class="(tirelire['02']==0) ? 'bg-light' : 'table-warning'"
                  @click.left="modifieValeurTirelire('02', 1)" @click.right.prevent="modifieValeurTirelire('02', -1)">
                  <img class="yo-svg-rond" src="images/euros/02.png" alt="02" title="02" />
                </th>
                <th v-bind:class="(tirelire['01']==0) ? 'bg-light' : 'table-warning'"
                  @click.left="modifieValeurTirelire('01', 1)" @click.right.prevent="modifieValeurTirelire('01', -1)">
                  <img class="yo-svg-rond" src="images/euros/01.png" alt="01" title="01" />
                </th>
                <th v-bind:class="(tirelire['005']==0) ? 'bg-light' : 'table-warning'"
                  @click.left="modifieValeurTirelire('005', 1)" @click.right.prevent="modifieValeurTirelire('005', -1)">
                  <img class="yo-svg-rond" src="images/euros/005.png" alt="005" title="005" />
                </th>
                <th v-bind:class="(tirelire['002']==0) ? 'bg-light' : 'table-warning'"
                  @click.left="modifieValeurTirelire('002', 1)" @click.right.prevent="modifieValeurTirelire('002', -1)">
                  <img class="yo-svg-rond" src="images/euros/002.png" alt="002" title="002" />
                </th>
                <th v-bind:class="(tirelire['001']==0) ? 'bg-light' : 'table-warning'"
                  @click.left="modifieValeurTirelire('001', 1)" @click.right.prevent="modifieValeurTirelire('001', -1)">
                  <img class="yo-svg-rond" src="images/euros/001.png" alt="001" title="001" />
                </th>
              </tr>
              <tr>
                <td>
                  <input type="number" class="form-control" @input="updateTirelire('2', $event)"
                    v-bind:value="tirelire['2']" min="0" onFocus="this.select()"
                    @keyup.enter.prevent="valideChamp('#TableauTirelire td input')" />
                </td>
                <td>
                  <input type="number" class="form-control" @input="updateTirelire('1', $event)"
                    v-bind:value="tirelire['1']" min="0" onFocus="this.select()"
                    @keyup.enter.prevent="valideChamp('#TableauTirelire td input')" />
                </td>
                <td>
                  <input type="number" class="form-control" @input="updateTirelire('05', $event)"
                    v-bind:value="tirelire['05']" min="0" onFocus="this.select()"
                    @keyup.enter.prevent="valideChamp('#TableauTirelire td input')" />
                </td>
                <td>
                  <input type="number" class="form-control" @input="updateTirelire('02', $event)"
                    v-bind:value="tirelire['02']" min="0" onFocus="this.select()"
                    @keyup.enter.prevent="valideChamp('#TableauTirelire td input')" />
                </td>
                <td>
                  <input type="number" class="form-control" @input="updateTirelire('01', $event)"
                    v-bind:value="tirelire['01']" min="0" onFocus="this.select()"
                    @keyup.enter.prevent="valideChamp('#TableauTirelire td input')" />
                </td>
                <td>
                  <input type="number" class="form-control" @input="updateTirelire('005', $event)"
                    v-bind:value="tirelire['005']" min="0" onFocus="this.select()"
                    @keyup.enter.prevent="valideChamp('#TableauTirelire td input')" />
                </td>
                <td>
                  <input type="number" class="form-control" @input="updateTirelire('002', $event)"
                    v-bind:value="tirelire['002']" min="0" onFocus="this.select()"
                    @keyup.enter.prevent="valideChamp('#TableauTirelire td input')" />
                </td>
                <td>
                  <input type="number" class="form-control" @input="updateTirelire('001', $event)"
                    v-bind:value="tirelire['001']" min="0" onFocus="this.select()"
                    @keyup.enter.prevent="valideChamp('#TableauTirelire td input')" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane fade show" id="params" role="tabpanel" aria-labelledby="params-tab">
        <div class="container mt-2">
          <div class="row">
            <div class="col-sm-8 mt-2">
              <div class="card text-center">
                <div class="card-header h4">
                  <span class="oi oi-aperture" aria-hidden="true"></span><span class="ml-2">Pain</span>
                </div>
                <div id="pains" class="card-body">
                  <table class="table table-hover yo-align">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">
                          <span class="oi oi-tag" aria-hidden="true"></span><span class="ml-1">Code</span>
                        </th>
                        <th scope="col">
                          <span class="oi oi-puzzle-piece" aria-hidden="true"></span><span class="ml-1">Nom</span>
                        </th>
                        <th scope="col">
                          <span class="oi oi-dashboard" aria-hidden="true"></span><span class="ml-1">Poids</span>
                        </th>
                        <th scope="col">
                          <span class="oi oi-euro" aria-hidden="true"></span><span class="ml-1">Prix unitaire</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(pain, p_id) in pains" v-bind:id="p_id">
                        <th scope="row">{{ p_id }}</th>
                        <td>{{ pain.nom }}</td>
                        <td>{{ pain.poids }}</td>
                        <td class="yo-hover" contenteditable="true" v-html="affichePrix(pain.prix)"
                          @focus="selectionner($event.target)" @blur="ecritPrixPain(p_id, $event)"
                          @keyup.enter.prevent="ecritPrixPain(p_id, $event)"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-sm-4 mt-2">
              <div class="card text-center">
                <div class="card-header h4">
                  <span class="oi oi-spreadsheet" aria-hidden="true"></span><span class="ml-2">Jours des fournées</span>
                </div>
                <div id="jours" class="card-body">
                  <div class="form-group text-md-left">
                    <div v-for="jour in listeJours" class="form-row">
                      <div class="col-sm-2"></div>
                      <div class="form-check col-sm-6">
                        <input class="form-check-input" v-bind:id="jour" v-bind:value="jour" type="checkbox"
                          v-model="jours" />
                        <label class="form-check-label ml-2" v-bind:for="jour">{{ jour.capitalize() }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 mt-4">
              <div class="card text-center">
                <div class="card-header h4">
                  <span class="oi oi-cloud-upload" aria-hidden="true"></span><span class="ml-2">Sauvegardes
                    automatiques</span>
                </div>
                <div id="sauv" class="card-body">
                  <div class="form-group text-md-left">
                    <div class="form-row">
                      <div class="col-sm-2"></div>
                      <div class="form-check col-sm">
                        <input id="sauvImp" class="form-check-input" type="checkbox" v-model="sauvImpress" />
                        <label class="form-check-label ml-2" for="sauvImp">Bouton Imprimer</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group text-md-left">
                    <div class="form-row">
                      <div class="col-sm-2"></div>
                      <div class="form-check col-sm">
                        <input id="sauvValid" class="form-check-input" type="checkbox" v-model="sauvValid" />
                        <label class="form-check-label ml-2" for="sauvValid">Bouton Valider</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 mt-4">
              <div class="card text-center">
                <div class="card-header h4">
                  <span class="oi oi-cloud-download" aria-hidden="true"></span><span class="ml-2">Archivage des
                    gloutons</span>
                </div>
                <div id="sauv" class="card-body">
                  <a href="datas.json" :download="'datas-' + formatCommandeDate(new Date()) + '.json'"
                    class="btn btn-sm btn-info" role="button">
                    <span id="down-json-label" class="ml-1">Télécharger le fichier des gloutons</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="button btn btn-xs btn-link d-print-none" id="btn_Top" title="Remonter tout en haut">
    <span class="oi oi-data-transfer-upload" aria-hidden="true"></span>
  </button>
</body>

</html>