body{
    font-family: 'Ubuntu', 'sans-serif';
    width: 100%;
}

.yo-svg-rond{
    width: 25%;
}

.yo-svg-rond2{
    width: 30%;
}

.yo-svg-rect{
    width: 40%;
}

.yo-pointer{
    cursor: pointer;
}

.yo-small{
	font-size: small;
}

.yo-badge {
	font-size: inherit;
	/* padding-bottom: initial;*/
	margin-left: 10px;
}

.yo-align td, .yo-align th {
	vertical-align: middle;
}

.yo-respire {
	margin: 0 10px;
}

.yo-respire-5 {
	margin: 0 5px;
}

.yo-apres {
	margin-bottom: 5px;
}

.yo-souligne {
	text-decoration: underline;
}

.yo-hover:hover {
	background-color: #bee5eb !important;
}

.yo-taille {
	font-size: 70%;
}

.yo-taille th,
.yo-taille td {
	padding: 0.3rem;
}

#btn_Top {
	background: none;
	margin: 0;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100px;
	height: 80px;
	z-index: 100;
	display: none;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	font-size: 50px;
}

.modal-dialog {
	max-width: 600px;
}

.alert {
	margin-bottom: 0;
}

@media print {

#GloutonsFourneeEnCours {
	border-style: hidden !important;
}

  #GloutonsFourneeEnCours td,
  #GloutonsFourneeEnCours th {
  	background-color: #fff !important;
		border: 1px solid #000000 !important;
  }
	#GloutonsFourneeEnCours td.table-danger {
		background-color: #f5c6cb !important;
	}
	#GloutonsFourneeEnCours td.table-warning {
		background-color: #ffeeba !important;
	}
	.yo-taille {
		font-size: 120%;
	}
	.yo-taille th,
	.yo-taille td {
		padding: 1rem;
	}
}

.shining{
  -webkit-animation: shining 3s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes shining {

  0%{
    box-shadow: 0px 0px 20px 5px yellow;
  }

  50%{
    box-shadow: 0px 0px 30px 10px yellow;
  }

   70%{
    box-shadow: 0px 0px 40px 10px yellow;
  }

  100%{
    box-shadow: 0px 0px 20px 5px yellow;
  }

}